﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="~/css/slick.css">
        <link rel="stylesheet" href="~/css/slick-theme.css">
        <link rel="stylesheet" href="~/css/magnific-popup.css">
        <link rel="stylesheet" href="~/css/animate.min.css">
        <link rel="stylesheet" href="~/css/default.css">
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/css/responsive.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <environment include="Development">
        <script src="~/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/scrollIt.min.js"></script>
        <script src="~/js/slick.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/isotope.pkgd.min.js"></script>
        <script src="~/js/imagesloaded.pkgd.min.js"></script>
        <script src="~/js/ajax-contact-form.js"></script>
        <script src="~/js/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
</head>
<body>
    <div class="preloader">
        <div class="loader graph">
            <div class="layer layer-1 color-2"></div>
            <div class="layer layer-2 color-2"></div>
            <div class="layer layer-3 color-2"></div>
            <div class="layer layer-4 color-2"></div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="~/img/logo.png" alt="Logo" style="width:10.2875em;height:3.2625em"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a data-scroll-nav="1" href="#">Get your quote</a>
                    </li>
                    <li class="nav-item">
                        <a data-scroll-nav="2" href="#">Special offer</a>
                    </li>
                    <li class="nav-item">
                        <a data-scroll-nav="3" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fiuled body-content">
        @RenderBody()
        <hr />
    </div>
    <div class="services" data-scroll-index="3">
        <div class="footer black-bg pt-30 pb-95">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="title pt-70">
                            <a href="#"><img src="~/img/logo.png" style="width:10.2875em;height:3.2625em" alt="Logo"></a>
                        </div>
                        <div class="info pt-30">
                            <p>PAY ATTENTION TO OUR</p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-5">
                        <div class="title pt-70">
                            <h4>SERVICE PROJECT</h4>
                        </div>
                        <div class="footer-widget-list pt-30">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Service PROJECT</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Air Fraight</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Import Carge</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="title pt-70">
                            <h4>CONTACT US</h4>
                        </div>
                        <div class="address pt-30">
                            <p>Tel:(0033) 1 73 74 90 35</p>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="cont">
                                        <span>Tel:(0033) 1 73 74 90 35</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-map"></i>
                                    </div>
                                    <div class="cont">
                                        <span>Add:46 Rue de Turbigo,75003 Paris, France</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="cont">
                                        <span>Email:contact@SGT-express</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-7">
                        <div class="title pt-70">
                            <h4>THE COOPERATION UNIT</h4>
                        </div>
                        <div class="last-post pt-35">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="cont pl-10">
                                            <img src="~/img/bankgroup.png">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.ftl-express.com">
                                        <div class="cont pl-10">
                                            <h6>LINK: www.ftl-express.com</h6>
                                        </div>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="#">
                                        <div class="cont pl-10">
                                            <h6>亲派纸尿裤全国委任状通报</h6>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="cont pl-10">
                                            <h6>亲派纸尿裤产自哪里？</h6>
                                        </div>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright pt-15 pb-15 container-fluid">
        <p><span class="col-lg-6 text-left text-capitalize">Copyright&copy; 2019-2023 SGT&nbsp;&nbsp;<a class="text-lowercase" href="http://www.sgt-express.com">www.sgt-express.com</a></span><span class="col-lg-6 text-right text-capitalize"><a href="#">Privacy</a>&nbsp;&nbsp;<a href="#">Return Clause</a>&nbsp;&nbsp;<a href="#">Return Clause</a></span></p>
    </div>
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">demo.skygo.website</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - demo.skygo.website - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@


    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
