﻿@{
    ViewBag.Title = "首页";
}

<!--轮播图-->
    <div class="carousel slide" id="slidershow" data-ride="carousel" data-interval="2000">
        <!--计数器-->
        <ol class="carousel-indicators">
            <li class="active" data-target="#slidershow" data-slide-to="0"></li>
            <li data-target="#slidershow" data-slide-to="1"></li>
            <li data-target="#slidershow" data-slide-to="2"></li>
        </ol>
        <!--图片容器-->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/imgs/slider/2019/s0814-01.jpg" />
                <!--添加对应标题和内容-->
                <div class="carousel-caption">
                    <h4>图一</h4>
                    <span>内容</span>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/imgs/slider/2019/s0814-02.jpg" />
                <!--添加对应标题和内容-->
                <div class="carousel-caption">
                    <h4>图二</h4>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/imgs/slider/2019/s0814-03.jpg" />
                <!--添加对应标题和内容-->
                <div class="carousel-caption">
                    <h4>图三</h4>
                </div>
            </div>
            <!--轮播导航-->
            <a href="#slidershow" data-slide="prev" class="left carousel-control" role="button">
                <img src="assets/left1.png" />
            </a>
            <a href="#slidershow" data-slide="next" class="right carousel-control" role="button">
                <img src="assets/right.png" />
            </a>
        </div>
    </div>
<script>
    $('.carousel').carousel({
        interval: 5000
    })
</script>



