﻿@{
    ViewBag.Title = "首页";
}
<div class="slider_part" data-scroll-index="0">

    <div class="singel_slider d-flex align-items-center bg_cover" data-overlay="3" style="background-image: url(../../img/bnner.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-2">
                    <div class="caption text-center">
                        <h2>Cross the world mission will reach</h2>
                        <h4>7×24 is for you all year round</h4>
                        <p>Comprehensive logisitics service</p>
                        <ul>
                            <!-- <li><a data-scroll-nav="6" class="button button-bg mt-45" href="#">加入我们</a></li> -->
                            <li><a class="button mt-45" href="#">Let's Start Now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about pb-95 pt-95" data-scroll-index="1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section_title text-left">
                    <h2>About Us</h2>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-lg-8">
            <div class="section_title text-left">
                <h2>About Us</h2>
                <p>sky to tansit focus on the international aviation integration of a full rangge of logisitecs services,to help you find more cost-effective,faster,more optimized cargo transport program</p>
            </div>
        </div> -->
            <div class="card col-lg-7">
                <div class="card-body">
                    @*<h4 class="card-title">About Us</h4>*@
                    <p class="card-text">sky to tansit focus on the international aviation integration of a full rangge of logisitecs services,to help you find more cost-effective,faster,more optimized cargo transport program</p>
                    <a href="#" class="btn btn-primary" style="float:right">See Profile</a>
                </div>
            </div>
            <div class="card col-lg-4 offset-lg-1">
                <div class="card-body">
                    <h4 class="card-title">More Preferential</h4>
                    <p class="card-text">Please press the button below for detail of the offer</p>
                    <a href="#" class="btn btn-primary" style="float:right">See Profile</a>
                </div>
            </div>
        </div>
        <div class="row mt-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="section_title text-left">
                            <h2>Our Advantages</h2>
                            <p> </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="singel_services text-center mt-30">
                            <div class="services_icon">
                                <img src="~/img/topcard-left.png" alt="">
                            </div>
                            <div class="services_content">
                                <h4>The Price</h4>
                                <p>
                                    The price has an advantage over the market
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="singel_services text-center mt-30">
                            <div class="services_icon">
                                <img src="~/img/topcard-center.png" alt=" ">
                            </div>
                            <div class="services_content">
                                <h4>Channel</h4>
                                <p>There are multiple channels of diversification</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="singel_services text-center mt-30">
                            <div class="services_icon">
                                <img src="~/img/topcard-right.png" alt="">
                            </div>
                            <div class="services_content">
                                <h4>Service</h4>
                                <p>Customer service teams help solve more problems anytime</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-30 text-center">
            <div style="width:100%" class="text-center">
                <button class="btn btn-primary col-lg-2">MAKE AN INQUIRY</button>
                <button class="btn btn-primary col-lg-2">PREFERENTIAL</button>
            </div>
        </div>
    </div>
</div>

<div class="services" data-scroll-index="2">
        <div class="container-fluid">
            <div class="row">
                <img src="~/img/plane.jpg" style="width:100%">
            </div>
        </div>
        @*<div class="jumbotron">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>*@
<div class="container mt-70">
    <div class="row">
        <div class="col-lg-8">
            <!-- <div class="col-lg-8 offset-lg-2"> gray-bg -->
            <div class="section_title text-left">
                <h2>Apply online</h2>
                <p> </p>
            </div>
        </div>
    </div>
    <div class="row mt-30">
        <div class="card col-lg-12">
            <div class="card-body">
                <h4 class="card-title">You have an air freight requirement?</h4>
                <p class="card-text">Fill in the following content,our large cargo flow experts will take the initiative to contact you,for you to make a quotation</p>
                <a href="#" class="btn btn-primary" style="float:right">See Profile</a>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <img src="~/img/arrow.png" />
        </div>
    </div>
    <div class="row mt-70">
        <div class="section_title text-left">
            <h6 style="color:red">Please fill in the following information in English</h6>
            <p>*Mandatory fields</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="contact_form pt-65 text-center">
                <form id="contact-form" action="contact" method="post">
                    <div class="row form-group">
                        <div class="col-lg-8">
                            <div class="form-inline">
                                <div class="col-lg-6">
                                    <input type="text" name="name" placeholder="The name of the company">
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" name="email" placeholder="Leave the airport*">
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="col-lg-6">
                                    <input type="text" name="name" placeholder="The contact*">
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" name="email" placeholder="The goods at the airport*">
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="col-lg-6">
                                    <input type="text" name="name" placeholder="The phone*">
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" name="email" placeholder="Take delivery address">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <textarea name="message" cols="30" rows="10" placeholder="The goods at the airport*"></textarea>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-inline">
                                <div class="col-lg-6">
                                    <input type="text" name="name" placeholder="The contact*">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="name" placeholder="The contact*">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" name="name" placeholder="The contact*">
                        </div>
                        <p class="form-message"></p>
                        <div class="col-lg-12">
                            @*<button type="submit" class="button button-bg mt-10">Click Submit Information</button>*@
                            <button type="button" class="button button-bg mt-10">Click Submit Information</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-70">
        <div class="col-lg-8">
            <!-- <div class="col-lg-8 offset-lg-2"> gray-bg -->
            <div class="section_title text-left">
                <h2>Value-added Services</h2>
                <p> </p>
            </div>
        </div>
    </div>
    <div class="row mt-30">
        <div class="col-lg-2 col-xs-4 text-center">
            <img src="~/img/service1.png" />
            <p>Warehousing Services</p>
        </div>
        <div class="col-lg-2 col-xs-4 text-center">
            <img src="~/img/service2.png" />
            <p>Packing Packaging</p>
        </div>
        <div class="col-lg-2 col-xs-4 text-center">
            <img src="~/img/service3.png" />
            <p>The Tray Provided</p>
        </div>
        <div class="col-lg-2 text-center">
            <img src="~/img/service4.png" />
            <p>Fill In The File</p>
        </div>
        <div class="col-lg-2 text-center">
            <img src="~/img/service5.png" />
            <p>The Door Pickup</p>
        </div>
        <div class="col-lg-2 text-center">
            <img src="~/img/service6.png" />
            <p>The Airport Delivery</p>
        </div>
    </div>
    <div class="row mt-70">
        <div class="col-lg-8">
            <!-- <div class="col-lg-8 offset-lg-2"> gray-bg -->
            <div class="section_title text-left">
                <h2>Preferential Information</h2>
                <p> </p>
            </div>
        </div>
    </div>
    <div class="row mt-30">
        <div class="card col-lg-4 col-md-6">
            <img class="card-img-top" src="~/img/card-left.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title text-center">PARIS LINE</h4>
                <p class="card-text">Sf express sunshine customs clearance a single</p>
                <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
            </div>
        </div>
        <div class="card col-lg-4 col-md-6">
            <img class="card-img-top" src="~/img/card-center.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title text-center">SPANISH ROUTE</h4>
                <p class="card-text">The fastest direct mail line</p>
                <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
            </div>
        </div>
        <div class="card col-lg-4 col-md-6">
            <img class="card-img-top" src="~/img/card-right.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title text-center">THE NETHERLANDS LINES</h4>
                <p class="card-text">Support Hong Kong,Macao,Taiwan and southeast Asia without volume</p>
                <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
            </div>
        </div>
    </div>
    <div class="row mt-30 text-center">
        <div style="width:100%" class="text-center">
        <button class="btn btn-primary col-lg-2">MAKE AN INQUIRY</button>
        <button class="btn btn-primary col-lg-2">PREFERENTIAL</button>
</div>
</div>
    </div>
    </div>
    @*<script>
        $(function () {
            $('#identifier').tooltip(options);
            $("[data-toggle='popover']").popover();
        });
    </script>*@
