﻿@{
    ViewBag.Title = "首页";
}
<div class="slider_part" data-scroll-index="0">
  
    <div class="singel_slider d-flex align-items-center bg_cover" data-overlay="7" style="background-image: url(../../img/bnner.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-2">
                    <div class="caption text-center">
                        <h2>Cross the world mission will reach</h2>
                        <h4>7×24 is for you all year round</h4>
                        <p>Comprehensive logisitics service</p>
                        <ul>
                            <!-- <li><a data-scroll-nav="6" class="button button-bg mt-45" href="#">加入我们</a></li> -->
                            <li><a class="button mt-45" href="#">Let's Start Now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about pb-95 pt-95" data-scroll-index="1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section_title text-center">
                    <h2>关于亲派</h2>
                    <p>亲派纸尿裤品牌，是青岛爱亲派商贸有限公司旗下的主打专业婴儿生活护理用品品牌。亲派纸尿裤的生产商---福建安琪儿卫生用品有限公司，从亲肤舒适的理念出发，产品从设计到材料的选择，都需要亲肤透气、舒适贴心，每一个材料的选择都站在宝宝舒适的角度出发，向市场全面推出了专业、高端、亲肤的婴儿生活护理用品品牌——亲派。</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="about_text pt-70">
                    <span>欢迎加入我们</span>
                    <h3>为梦想而生，为合作伙伴创造价值</h3>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="active" id="misson-tab" data-toggle="tab" href="#misson" role="tab" aria-controls="misson" aria-selected="true">品牌个性</a>
                        </li>
                        <li class="nav-item">
                            <a id="gol-tab" data-toggle="tab" href="#gol" role="tab" aria-controls="gol" aria-selected="false">核心价值</a>
                        </li>
                        <li class="nav-item">
                            <a id="vision-tab" data-toggle="tab" href="#vision" role="tab" aria-controls="vision" aria-selected="false">合作共赢</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="misson" role="tabpanel" aria-labelledby="misson-tab">
                            @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, alias sequi, nam illum distinctio totam!</p>*@

                            <p>
                                亲派从创立之初，就树立了自身特有的品牌个性。它以阳光、纯真、可爱、乐观的小恐龙宝宝为品牌形象。作为中国人自己的纸尿裤，秉承了中国人严谨，认真，负责的专业态度，在这样一个国度里诞生的品牌，也兼具了中国妈妈对宝宝的爱和呵护。亲派纸尿裤选择先进的生产线并严格挑选国际500强企业原材料供应商，确保产品的品质和安全。
                                在包装上，亲派选择自封口设计，密封包装，防止尘霾细菌及潮湿污染。最大程度上保证一包纸尿裤用到最后一片也是出厂无尘无菌无污染品质！
                            </p>
                        </div>
                        <div class="tab-pane fade" id="gol" role="tabpanel" aria-labelledby="gol-tab">
                            @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, alias sequi, nam illum distinctio totam!</p>*@

                            <p>
                                核心价值观：诚信、创新、服务
                                企业核心： 诚信
                                企业精神： 团结拼搏、开拓求实、满足用户、科技进步。
                                客户：为客户提供高质量和最大价值的专业化产品和服务，以真诚和实力赢得客户的理解、尊重和支持。
                                市场：为客户降低采购成本和风险，为客户投资提供切实保障。
                                发展：追求永续发展的目标，并把它建立在客户满意的基础上。
                            </p>
                        </div>
                        <div class="tab-pane fade" id="vision" role="tabpanel" aria-labelledby="vision-tab">
                            @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, alias sequi, nam illum distinctio totam!</p>*@
                            <p>
                                关于“为合作伙伴创造价值”
                                公司认为客户、供应商、公司股东、公司员工等一切和自身有合作关系的单位和个人都是自己的合作伙伴，并只有通过努力为合作伙伴创造价值，才能体现自身的价值并获得发展和成功。
                                关于“诚实、宽容、创新、服务”
                                公司认为诚信是一切合作的基础，宽容是解决问题的前提，创新是发展事业的利器，服务是创造价值的根本。公司会坚持持续改进、满足顾客期望、 确保品质第一、开拓全球市场。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_video pt-70">
                    <div class="ovarlay" data-overlay="5">
                        <img src="~/Imgs/QinPai/Video/videoshow3.jpg" alt="About Video">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services pb-100 pt-90 gray-bg" data-scroll-index="2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section_title text-center">
                    <h2>产品</h2>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="singel_services text-center mt-70">
                    <div class="services_icon">
                        <img src="~/Imgs/QinPai/Product/2019/亲肤止尿库.jpg" alt="亲派纸尿裤">
                    </div>
                    <div class="services_content">
                        <h4>亲肤纸尿裤</h4>
                        <p>
                            亲派纸尿裤在中国泉州设立唯一的产品研发中心，由亲派纸尿裤专家、质检专家、产品设计专家组成的团队，只为给中国宝宝带去更为舒适、安全、纯净的纸尿裤产品。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="singel_services text-center mt-70">
                    <div class="services_icon">
                        <img src="~/Imgs/QinPai/Product/2019/一体式学步裤.jpg" alt="一体式学步裤">
                    </div>
                    <div class="services_content">
                        <h4>一体式学步裤</h4>
                        <p>亲派纸尿裤在中国泉州设立唯一的产品研发中心，由亲派纸尿裤专家、质检专家、产品设计专家组成的团队，只为给中国宝宝带去更为舒适、安全、纯净的纸尿裤产品。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="singel_services text-center mt-70">
                    <div class="services_icon">
                        <img src="~/Imgs/QinPai/Product/2019/悦动纸尿裤.jpg" alt="悦动纸尿裤">
                    </div>
                    <div class="services_content">
                        <h4>悦动纸尿裤</h4>
                        <p>亲派纸尿裤在中国泉州设立唯一的产品研发中心，由亲派纸尿裤专家、质检专家、产品设计专家组成的团队，只为给中国宝宝带去更为舒适、安全、纯净的纸尿裤产品。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="singel_services text-center mt-70">
                    <div class="services_icon">
                        <img src="~/Imgs/QinPai/Product/2019/悦动拉拉裤.jpg" alt="悦动拉拉裤">
                    </div>
                    <div class="services_content">
                        <h4>悦动拉拉裤</h4>
                        <p>亲派纸尿裤在中国泉州设立唯一的产品研发中心，由亲派纸尿裤专家、质检专家、产品设计专家组成的团队，只为给中国宝宝带去更为舒适、安全、纯净的纸尿裤产品。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="singel_services text-center mt-70">
                    <div class="services_icon">
                        <img src="~/Imgs/QinPai/Product/2019/亲派游泳裤.jpg" alt="亲派游泳裤">
                    </div>
                    <div class="services_content">
                        <h4>亲派游泳裤</h4>
                        <p>亲派纸尿裤在中国泉州设立唯一的产品研发中心，由亲派纸尿裤专家、质检专家、产品设计专家组成的团队，只为给中国宝宝带去更为舒适、安全、纯净的纸尿裤产品。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="singel_services text-center mt-70">
                    <div class="services_icon">
                        <img src="~/Imgs/QinPai/Product/2019/亲派柔纸巾.jpg" alt="亲派柔纸巾">
                    </div>
                    <div class="services_content">
                        <h4>亲派柔纸巾</h4>
                        <p>亲派纸尿裤在中国泉州设立唯一的产品研发中心，由亲派纸尿裤专家、质检专家、产品设计专家组成的团队，只为给中国宝宝带去更为舒适、安全、纯净的纸尿裤产品。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
